/* styles.css */

/* Reset de marges i padding */
html{
    scroll-padding-top: 150px;
}
body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #2b5894;
}
 img{
    margin-top: auto !important;
    margin-bottom: auto !important;
    display: block !important;
 }

/* Estils per a la navbar */
nav {
    background-color: #3E8DF4;
    padding: 15px 0;
    width: 100%;
    top: 0 auto;
    left: 0 auto;
}

.paddcss{
    padding-top: 130px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    font-family: "Spicy Rice", serif;
    text-decoration: none;
    color: #333;
    
}

nav ul li a:hover {
    color: #ffffff;
}

/* Estils per al contenidor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}
.container-wrapper{
    background-color: #152c77;
}

/* Estils per a les files i columnes */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.col {
    flex: 1;
    min-width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    
}
.col-md-4{
padding-top: 30px; 
}
#miCarrusel .col {
    background-color: transparent; /* Hace el fondo invisible */
    border: none; 
    box-shadow: none; 
}
/* Estils per a títols i paràgrafs */
h1{
    color:#333;
    font-family: "Spicy Rice", serif;
    font-weight: 400px;
    font-size: 36px;
    font-style: normal;
}

h2 {
    font-family: "Spicy Rice", serif;
    color: #333;
}

h3{
    font-family: "Spicy Rice", serif;
    color: #333;
    background-color: #f1f1f1;
    border-radius: 8px ;
}
p {
    color: #666;
}

.tarjeta {
          height: 500px; /* Ajusta la altura según lo necesites */
          display: flex;
          align-items: center;
          justify-content: center;
          background: #f0f0f0;
          border-radius: 8px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          background-color: transparent;
}

